extends layout

block content
  div.Flex
    div.Card
      img(src="/images/snap.png", alt="snapshot" style='width: 100%')
      div.Container
        h2 Anietie Brownson
        h3 Software Engineer
        h4 I design and develop experiences that makes people's lives easier
        div.Button-div
          a(href="tel:+2349056519129") Call Me 
